.itemId{
   width:90%;
   border:2px solid antiquewhite;
   margin:10px auto;
}

.price{
    width:90%;
    border:2px solid antiquewhite;
    margin:10px auto;
}

.description{
    width:90%;
    border:2px solid antiquewhite;
    margin:10px auto;
}

.counter{
    width:50px;
    border:2px solid blue;
    margin:10px auto;
}

.container{
    border:5px solid black;
    width:80%;
    margin:10px auto;
}


.itemList{
    border:2px solid red
}