extends layout
//- var btnType = 'info'
//- var btnSize = '200'
block content
    h1 #{title}
    button(type='button' class='btn' value="CREATE GROUP ")
    button(type='button' class='btn' value="CREATE GROUP ")



