doctype html
html
    head
       style(type='text/css').
           .btn {
               width:100px;
               height:50px;
            }
        title login
    body
        block content
    br
    hr
    footer